/*Logo*/

.logo {
  color: $accent-color;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-top: auto;
  margin-bottom: auto;

  .header-logo-end {
    color: #000000;
  }

  .footer-logo-end {
    color: $primary-background-color;
  }
}
